*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;

}

.head{
width:100%;
height:55px;
background:rgb(28,162,18);
display:flex;
justify-content:flex-end;
align-items:center;
position:fixed;
top:0;
z-index:10;
box-shadow:0px 8px 18px rgba(41,41,41,0.4);
}

.farm-logo{
position:absolute;
width:75px;
height:50px;
border-radius:5px;
left:5%;
}

.farm-name{
position:absolute;
left:12%;
font-size: 25px;
}

.menu{
display:flex;
justify-content:flex-end;
align-items:center;
margin-left:10%;
margin-right:5%;
padding:0 5px;
height:50px;
}

#nav-menu{
list-style:none;
display:flex;
gap:10px;
}

.list-item{
text-align:center;
padding:10px 10px;
border-radius:20px 0 20px 0;
transition:0.6s;
}

.list-item:hover{
background:#36730a;
}

.list-link{
color:black;
text-decoration:none;
font-size:19px;
}

.list-item:hover .list-link{
color:white;
}

.menu-toggle{
font-size:31px;
cursor:pointer;
color:black;
display:none !important;
}

.close-box{
  display: none;
  width:40px;
  height: 40px;
  background: red;
  padding: 5px 8px;
}

.close{
color:white;
cursor:pointer;
font-size:29px;
display:none !important;
}


@media(max-width:768px){
#nav-menu{
flex-direction:column;
position:fixed;
top:55px;
right:-300px;
background:rgba(0,0,0,0.9);
width:210px;
height:100vh;
gap:15px;
transition:0.3s;
}

.farm-name{
  font-size: 23px;
  left:22%;
}
.list-link{
color:white;
}

.menu-toggle{
display:block !important;
}

.close-box{
  display: block !important;
}

.close{
display:block !important;
}

}


#cultivate-section{
width:90%;
margin:auto;
padding:80px 0;
margin-top:60px;
}

.cultivate-box{
display:flex;
align-items:center;
justify-content:space-between;
gap:40px;
}

.culti-title{
font-size:50px;
margin-bottom:20px;
}

.culti-about{
font-size:20px;
margin-bottom:30px;
}

.btn-explore{
width:200px;
height:50px;
background:#0fa44a;
color:white;
border:none;
border-radius:30px;
cursor:pointer;
font-family:Arial, sans-serif;
font-size: 17px;
}

.culti-pic{
width:100%;
max-width:500px;
border-radius:25px;
}

@media(max-width:768px){

.cultivate-box{
flex-direction:column;
text-align:center;

}

.culti-title{
font-size:30px;
}

.culti-about{
font-size:15px;
}

.culti-pic{
height:300px;
object-fit:cover;
}

}

/* ABOUT */

#about{
width:90%;
margin:0px auto;
}

.section-title{
text-align:center;
font-size:40px;
padding-top: 70px;
padding-bottom: 70px;
}

.about-container{
display:flex;
gap:40px;
align-items:center;
}

.about-left{
width:45%;
}

.about-right{
width:50%;
}

.about-pic{
width:100%;
border-radius:15px;
}

.about-text{
font-size:16px;
line-height:1.7;
margin-bottom:20px;
text-align:justify;
font-family:Arial, sans-serif;
}

@media(max-width:768px){

.about-container{
flex-direction:column;
}

.about-left,
.about-right{
width:100%;
}

}

/* SERVICES */

.services-box{
width:90%;
margin: auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:60px;
padding-top: 70px
}

.service-card{
background:#fff;
padding:40px 30px;
border-radius:25px;
text-align:center;
box-shadow:0 15px 40px rgba(0,0,0,0.3);
transition:0.5s;
}

.service-card:hover{
transform:translateY(-10px);
}

.service-card i{
font-size:55px;
color:#2e7d32;
margin-bottom:20px;
}

.service-card h4{
font-size:22px;
margin-bottom:15px;
}

.service-card p{
font-size:15px;
line-height:1.5;
font-family:Arial, sans-serif;
}

@media(max-width:900px){
.services-box{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.services-box{
grid-template-columns:1fr;
}
}

/* PRODUCTS */

.product-box{
width:90%;
margin:auto;
display:grid;
grid-template-columns:repeat(3,1fr);
gap:50px;
padding-top: 70px
}
.section-title{
  text-align: center;
  margin-top: 120px;
}

.product-card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

.product-card img{
width:100%;
height:200px;
object-fit:cover;
border-radius:12px;
}

.product-card h4{
font-size:25px;
color:#0c8a3e;
margin-top:10px;

}

.product-card p{
font-size:15px;
font-weight: 700;
color: #71c38f;
font-family:Arial, sans-serif;
}

.product-card button{
padding:10px 18px;
border:none;
background:green;
color:white;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

@media(max-width:900px){
.product-box{
grid-template-columns:repeat(2,1fr);
}
}

@media(max-width:600px){
.product-box{
grid-template-columns:1fr;
text-align:center;
}
}

/* FORM */

#form-box{
width:100%;
padding:70px 0;
}

.form-container{
width:50%;
margin:auto;
background:white;
padding:40px;
border-radius:18px;
box-shadow:0 10px 35px rgba(0,0,0,0.08);
display:flex;
flex-direction:column;
}

.form-container label{
margin-top:10px;
margin-bottom:5px;
font-family:Arial, sans-serif;  
}

.input-text,
.input-select{
width:100%;
padding:14px;
border-radius:10px;
border:1px solid #ddd;
}

.btn-submit{
margin-top:25px;
padding:15px;
border:none;
border-radius:10px;
background:linear-gradient(45deg,#2c6e49,#4caf50);
color:white;
font-size:18px;
font-family:Arial, sans-serif;
cursor:pointer;
}

@media(max-width:900px){
.form-container{
width:80%;
}
}

@media(max-width:700px){
.form-container{
width:95%;
}
}

/* NEWS */

.news-box{
width:90%;
margin:auto;
display:grid;
grid-template-columns:1fr;
gap:30px;
padding-top: 70px
}

.news-card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 6px 20px rgba(0,0,0,0.08);
}

.news-card h4{
font-size:25px;
color:#2c6e49;
margin-bottom:10px;
}

.news-card p{
font-size:18px;
font-family:Arial, sans-serif;
}

.news-card h6{
margin-top:15px;
color:gray;
font-size: 18px;
}

@media (max-width:768px) {
  .news-card h4{
    text-align: center;
  }
  .news-card p{
    text-align: center;
  }
  
}
.contact-box{
width:100%;
background:#000;
color:white;
padding:60px 100px;
}

.contact-container{
width:90%;
margin:auto;
display:flex;
justify-content:center;
align-items:flex-start;
gap:40px;
}

/* LEFT SIDE INFO */

.contact-info{
flex:1;
background:#3f945e;
padding:25px;
border-radius:10px;
padding-top: 70px
}

.info-item{
display:flex;
align-items:center;
gap:12px;
margin-bottom:18px;
}

.info-item i{
font-size:25px;
font-family:Arial, sans-serif;
}

.info-item p{
font-size:16px;
font-family:Arial, sans-serif;
}

/* SOCIAL ICONS */

.social-icons{
margin-top:20px;
}

.social-icons p{
font-size:18px;
margin-bottom:10px;
font-family:Arial, sans-serif;
}

.social-icons i{
font-size:20px;
background:#0f8f5a;
padding:10px;
border-radius:50%;
margin-right:10px;
cursor:pointer;
transition:0.3s;
}

.social-icons i:hover{
background:white;
color:#0f8f5a;
transform:scale(1.1);
}

/* RIGHT SIDE FORM */

.contact-form{
flex:1;
background:#111;
padding:20px;
border-radius:10px;
}

.contact-form form{
display:flex;
flex-direction:column;
}

.contact-form label{
margin-top:12px;
margin-bottom:5px;
font-size:17px;
font-family:Arial, sans-serif;
}

.contact-form input,
.contact-form textarea{
padding:12px;
border-radius:8px;
border:none;
font-size:15px;
font-family:Arial, sans-serif;
}

.contact-form textarea{
height:120px;
resize:none;
font-family:Arial, sans-serif;
}

.contact-form button{
margin-top:20px;
padding:14px;
border:none;
border-radius:8px;
background:#8fd19e;
font-size:17px;
cursor:pointer;
transition:0.3s;
font-family:Arial, sans-serif;
}

.contact-form button:hover{
background:#6fbf85;
}

/* FOOTER TEXT */

.dev-credit{
text-align:center;
margin-top:30px;
font-size:18px;
font-family:Arial, sans-serif;
line-height: 1.3;
}

/* MOBILE */

@media(max-width:768px){

.contact-box{
padding:60px 20px;
}

.contact-container{
flex-direction:column;
}

.contact-info,
.contact-form{
width:100%;
}

}